body {
  background: rgba(129, 140, 163, 0.664);
  margin-top: 50px;
  margin-left: 100px;
  }

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 }
p {
  font-family: Monoco, monospace;
  font-size: 1.2em;
  color: rgb(219, 155, 155);
  }

h1 {
  font-family: Monoco, Monoco, monospace;
  font-size: 2.5em;
  color: rgb(80, 105, 187);
  }

styledimg {
  background-image: url(/satic/logo2.jpeg);
  background-repeat: no-repeat;
  width: 200px;
  height: 50;
  }
    
    