<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title><center>
    <image src="{{url_for('static',filename = 'pipelinelogo2.png')}}"
    width = "150"
    height = "150"
    text-align:center></image>
    </head>
    <meta charset="UTF-8">
    <body>
        <link rel="stylesheet" href='/static/css/format.css' />
        <h1 style="text-align:center">
          Bioinformatics Pipeline UI</h1>
        <nav class= "navbar navbar-expand-lg navbar-light bg-light">
           <a class ="navbar-brand" href="#">Navigate:</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class ="nav-link" href="{{url_for('home.index')}}">Home</a>
                </li>

	        {% if current_user.is_anonymous %}
	          <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
                  </li>

		  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
                  </li>

	        {% else %}
                  <li class = "nav-item">
		    <a class = "nav-link" href="{{url_for('auth.logout')}}">Logout</a>
		  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home.jobpage')}}">Job Display</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home.uploadpage')}}">File Upload</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home.gccontent')}}">GC Content</a>
                  </li>

		{% endif %}

		{% if current_user.can('Placeholder1') %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home.testpage')}}">Test Page</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
	        {% endif %}

	        {% if current_user.can('admin') %}
	          <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home.admin')}}">Admin</a>
                  </li>
                {% endif %}

            </ul>
          </div>
        </nav>

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
			{% if category == 'error' %}
				<div class="alert alert-danger alter-dismissable fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% else %}
				<div class="alert alert-success alter-dismissable fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endwith %}

{% block page_content %}{% endblock %}

{% endblock %}

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      </center>
</body>
</html>
