{% extends "base.html" %}
{% block title %}CSV Upload Page{% endblock %}
{% block page_content %}


    <h1 style='text-align: center'>Upload a job </h1>
    <!doctype html>
    <html>
      <head>
        <title>File Upload</title>
      </head>
      <body>
        <h1>File Upload</h1>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input type="file" name="file"></p>
          <p><input type="submit" value="Submit"></p>
        </form>
        <hr>
          </body>
    </html>

    
{% endblock %}