
{% extends "base.html" %}
{% block title %}Download Page{% endblock %}
{% block page_content %}
<p style="text-align:center">Successful Upload!<br>
  There have been some changes made to your file. <br> Please download your updated file below:</p>



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Downloader</title>
  </head>
  <body>
    <a href="/download"><button class='btn btn-default'>Updated File</button></a>
  </body>
</html>




{% endblock %}