
{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html></html>
{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block page_content %}
<p style="text-align:center">Log in using your username and password</p>
<head>
    <title>Login Page</title>
</head>
<body>
    <form action="" method="POST" style="text-align:center">
	    {{ form.hidden_tag() }}
    <p>
		{{ form.username.label }}<br>
		{{ form.username(size=32) }}<br>
		{% for error in form.username.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
    <p>
		{{ form.password.label }}<br>
		{{ form.password(size=32) }}<br>
		{% for error in form.password.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }} </p>
    <p>{{ form.submit() }}</p>
    </form>
	<h3 style = "text-align:center; font-size:1.2em;color: rgb(87, 149, 219);"><a href="{{ url_for('auth.register') }}">Don't have an account yet? Register here</a></h3>
</body>
</html>

{% endblock %}
