
<!DOCTYPE html>
<html></html>
{% extends "base.html" %}
{% block title %}Registration Page{% endblock %}
{% block content %}
<p style="text-align:center">Register Here</p>
<head>
    <title>Registration Page</title>
</head>
<body>
    <form action="" method="post" style="text-align:center">
	    {{ form.hidden_tag() }}
	<p>
	    {{ form.username.label}}<br>
	    {{ form.username(size=32) }}
	</p>
	<p>
	    {{ form.email.label }}<br>
	    {{ form.email(size=32) }}
	</p>
	<p>
	    {{ form.password.label }}<br>
	    {{ form.password(size=32) }}
	</p>
	<p>
	<p>{{ form.remember_me() }} {{ form.remember_me.label }} </p>
	<p>{{ form.submit() }}</p>
    </form>
</body>
</html>
{% endblock %}
