<!-- Code from https://github.com/hack4impact/flask-base/blob/master/app/templates/account/email/reset_password.html-->
<p>Dear {{ user.full_name() }} ,</p>

<p>To reset your password, <a href="{{ reset_link }}">click here</a>.</p>

<p>Alternatively, you can paste the following link in your browser's address bar:</p>

<p>{{ reset_link }}</p>

<p>If you have not requested a password reset, simply ignore this message.</p>

<p>Sincerely,</p>

<p>The Bioinformatics Pipeline UI Team</p>

<p><small>Note: replies to this email address are not monitored.</small></p>